import(lattice)
import(ttutils)
export(hermite)
export(edgeworth, saddlepoint)
export(varianceFamily, powerVarianceFamily, extBinomialVarianceFamily)
export(cumulants, gammaCumulants, gaussianCumulants, inverseGaussianCumulants)
export(approximation)
export(eql)
S3method(plot, approximation)
S3method(plot, eql)
S3method(print, eql)
S3method(check, cumulants)
S3method(print, varianceFamily)
S3method(print, extFamily)
S3method(dim, varianceFamily)

importFrom("grDevices", "colorRampPalette", "heat.colors")
importFrom("graphics", "abline", "mtext", "par", "points", "segments",
           "text")
importFrom("stats", "dnorm", "glm", "integrate", "make.link", "qchisq",
           "runif", "splinefun")
